body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}
.d1{
    margin: 30px;
    border: 5px dashed white;
    padding: 5px;  
}
.q{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.r1{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100px;
    font-weight: bold;
    font-size: 40px;
}
.d2{
    margin: 30px;
    border: 5px dashed white;
    padding: 5px; 
}
.d3{
    margin: 10px;
    border: 5px dashed rgb(255, 0, 0);
    padding: 5px; 
    display: flex;

}
.ra{
    background-color: rgb(251, 255, 1);
    width: 100px;
    height: 285px;
    display: flex;
    justify-content: center;
     align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-right: 40px;

    }

.rb{
    background-color: rgb(230, 255, 4);
    width: 100px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    
}
.r2{
    background-color: rgb(230, 255, 4);
    width: 280px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;


}
        